<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vlazar83.mygoals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyGoals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LeadingIdeaActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".NotificationResultActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreatedCardsActivity"
            android:label="@string/title_activity_created_cards"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FinalizeNewCardActivity"
            android:label="@string/title_activity_finalize_new_card"
            android:parentActivityName=".CreateNewCardActivity" />
        <activity
            android:name=".CreateNewCardActivity"
            android:label="@string/title_activity_create_new_card"
            android:parentActivityName=".PlanTheCardSetActivity" />
        <activity android:name=".StatisticsActivity" />
        <activity
            android:name=".PlanTheCardSetActivity"
            android:label="@string/title_activity_plan_the_card_set"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vlazar83.mygoals.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity" />

        <receiver android:name=".ReminderBroadcast" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.vlazar83.mygoals.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>